<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to the Pleasant Vista Community Tool Library</title>
    <link rel="stylesheet" href="/css/pico.jade.min.css" />
</head>
<body class="container">
<h1>Welcome to the Pleasant Vista Community Tool Library</h1>
<p>Manage and borrow tools in your community with ease.</p>

<div>
    <a th:href="@{/login}">
        <button>Login</button>
    </a>
    <a th:href="@{/register}">
        <button>Register</button>
    </a>
</div>
</body>
</html>
